@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(100, 73, 131);
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: black;
    font-size: 62px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 3px;
    text-align: center;
    margin-bottom: 24px;
}

.intro div {
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 22px;
}

.score {
    margin: 28px;
    padding: 0 42px;
    width: 800px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.rps-choice {
    display: flex;
    justify-content: center;
    gap: 42px;
}

button {
    background: white;
    border-color: rgb(61, 0, 122);
    border-radius: 4px;
    border-width: 4px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.round {
    margin: 20px;
    height: 120px;
    width: 160px;
    font-size: 72px;
}

.button {
    width: 180px;
}

#playAgain {
    margin-top: 32px;
    width: 220px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-area div {
    text-align: center;
    color: white;
    font-size: 58px;
    font-weight: bolder;
}

.outcome {
    margin-top: 32px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.hidden {
    display: none;
}